body{
    background-color: aqua;
}


h1{
    font-size: 20px;
}

@media screen and (max-width: 800px)
{
    h1{
    font-size: 16px;
    } 
    
    body{
      background-color: orangered;
     }
}

@media screen and (max-width: 400px)
{
    h1{
    font-size: 12px;
    }
      body{
        background-color: yellow;
      }
    
}

@media screen and (max-width: 200px)
{
    h1{
    font-size: 8px;
    }
      body{
        background-color: limegreen;
      }
    
}