div{
	float:left;
}
@mixin box {
	width: 100px;
	height: 100px;
	margin: 15px;
	background-color: Red;
}
#First{
	width: 100px;
	height: 100px;
	margin: 15px;
	background-color: Red;
}
#Second{
	width: 100px;
	height: 100px;
	margin: 15px;
	background-color: Red;
}
#Third{
	width: 100px;
	height: 100px;
	margin: 15px;
	background-color: Red;
}