#box1 {
    box-sizing: content-box;
    width: 300px;
    height: 120px;
    background: green;
    margin-bottom: 10px;
    padding: 1opx;
    border: 10px solid black;
}

#box2 {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    background: gold;
    padding: 10px;
    border: 10px solid black;
}
